.sidebar__content {
    margin-top: 10rem
}
.sidebar__content {
    position: relative;
  
    @media only screen and (max-width:990px) {
      position: absolute;
    top: -8.3rem;
    right: -2px;
    border: none;
    }
  
}
.category__list {
   
   .category__item {
        padding: 10px;
        text-align: center;
        position: relative;
        transition: all .2s;
        @media only screen and (max-width:990px) {
            display: inline-block;
            list-style-type: none;
        }

        @media only screen and (max-width: 684px){
            display:none;
        }
    
     &:not(:last-child){
            border-bottom: 1px solid rgba(0,0,0,0.2);
            @media only screen and (max-width:990px) {
              border: none;
            }
        }
        &:hover {
            background-image: linear-gradient(120deg, to from , goldenrod);

        }
    
    }
  
    

   .category__link{
        text-decoration: none;
        text-align: center;
        padding: 20px;
        color:white;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 300;
        z-index: 20;
        position: relative;
      
    }
}
.category__item::before {
    content: "";
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 0;
    width:3px;
    
    transform: scaleY(0);
    transition: transform .2s,
                   width .4s cubic-bezier(1, 0, 0, 1);

  
}
.category__item:hover::before{

   
    width: 100%;
    transform: scaleY(1);
}

.logo__box {
    position: absolute;
    top:30px;
    left:30px;

    &--title {
        color: white;
        font-size: 22px;
        font-weight:400;
        text-align:center;
        text-transform: uppercase;
        text-decoration: none;
      
        @media only screen and (max-width:990px) {
      
           top: 10px;
           left: 0;
          }
    }
}