 /* universal reset */
$color-primary: rgb(255,191,0);
$color-white:#fff;
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:#777;
    font-size: 16px; 
    // background-color: rgb(253, 247, 231);
    box-sizing: border-box;
      background-color: rgba(230, 223, 223, 0.192);

    color: black !important
}

:root {
    --primary-color: goldenrod;
    --secondary-color: white;
}

